@import '../../styles/variables';

.s-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -1 * calc($grid-gutter / 2);
  margin-left: -1 * calc($grid-gutter / 2);

  &.dense {
    margin-right: -1 * calc($form-grid-gutter / 2);
    margin-left: -1 * calc($form-grid-gutter / 2);

    > .s-col {
      padding: calc($form-grid-gutter / 2);
    }
  }

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .s-col {
      padding: 0;
    }
  }
}
